
#apDiv1 {
	border-style:solid;
	margin-left:829px;
	width: 320px;
	height: 30px;
	font-size: 18px;
	color: #F06;
	background-color: blue;
}
#apDiv2 {
	margin: 0px auto;
	background-color:red;
	border-style:solid;
	width: 960px;
	height: 200px;
	clear: both;
	
}
